<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="resources" ></title>
    <link th:href="@{'/'+${#objects.nullSafe(session.PAGE_SKIN,'')}+'css/index.css'}" rel="stylesheet">
    <title>三角套利</title>
</head>
<body onbeforeunload="">
<div th:replace="header.html" ></div>
<div >
    <h1>分站内三角套利/跨市三角套利</h1>
    <p>【背景介绍】2016年以前，各平台不收交易费，但是人民币入金困难。于是造成平台间差价较大，套利空间很多。出现了“跨平台对冲”和“跨平台板砖”。
        人们想到了一种“在单一平台做三角套利”的方法：在单一平台内部，就免去了充值提现/到账延迟问题。代价是比跨平台对冲多一次交易（对冲交易，需要交易两次，三角套利需要交易三次）。
        但是交易免手续费，多交易一次又何方呢？这么美好的事情，平台自己不会做吗？当然会。所以散户机会不大。
    </p>
    <br>
    <p>
        【当今的情况】各平台收手续费，跨平台对冲很难做了(成本升高)。充值提现不再有障碍(usdt)，意味着差价会被人很快用usdt板砖。三角套利跟跨平台对冲比起来，不再有任何优势，反而有
        劣势：需要交易三次，才能完成一个循环，意味着成本更高。显得多此一举，这样做解决了两角对冲的什么问题呢？三角套利的理论，是建立在两角对冲的基础上，效果会比两角差。如果两角都不好做，又怎能指望三角呢？
    </p>
    <br>
    <p>
        平台内部的三角，差价不存在。如果存在，平台自己就会吃掉，而且他自己不用交手续费。如果存在，这就是它系统的漏洞，自相矛盾，损害自己的形象。
        跨市三角呢？同理。问题回到“跨平台对冲”：两平台各自内部没有三角，同币种在两平台间没有差价，那么跨平台的三角套利能存在吗？1X1=1, 0X0能得1吗？
        市场a: btc/usd=9266 eth/usd=233.71 那就相当于eth/btc=233.71/9266=0.02522
        假设市场b:eth/btc低于这个价，那么就在市场b买eth。同时在市场a卖eth，买btc。总共涉及到三次交易，还不如跨平台对冲。
    </p>
    <br>
    <p>
        结论：当今社会，充值提现已经没有障碍，甚至没有成本。成本都转移到交易费上去了。新的套利模式，需要尽量多充值/提现，少交易。
    </p>


    多个借贷市场间套利呢？
</div>
<div th:replace="footer.html" ></div>

</body>
</html>
